# misc
package-lock.json

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
/node_modules
/near-marketplace/node_modules


# production
/build